
<div background-image></div>
	
<div id="navMenu" class="transparency">
	<span>
		
			<a href="https://amwell.com/loginConsumer.htm">Log In</a>
			<span> | </span>
		
		
			<a href="/guest/systemTest.htm">Test Computer</a>
			<span> | </span>
		
		
			<a id="help" onclick="caretalks.help.getHelp();">Help</a>
			<span> | </span>
		
		<a href="https://amwell.com/loginPhysician.htm">Provider Login</a>	
	</span>
</div>

<button class="btn btn-default" ng-click="open()">Open me!</button>{{item}}

<!--
<div class="body DynamicVerticalCenter invisibleForLoading loadingContent">
<div>
<div class="landingContainer clearFix dijitInline transparency">
	
		<div class="marketingContent dijitInline">
	
		<div class="imgBrandContainer"><img alt="American Well" src="/static/release_119926/images/common/IMG_Landing_Logo.png" id="marketingImg"/></div>
	
	
		<div class="modernHeaderXL marketingHeader">Login or Enroll</div>
		<hr class="marketingHR" />
	
	
		<div class="modernLabel16 marketingSubtext"><span style="">&nbsp;</span><em style="font-weight: bold;">Amwell makes it easy for you to talk to providers, immediately, from home. You don't need to call ahead or wait for a provider - simply log on or call.</em></div>
	
	
		<div class="modernLabel16 marketingLearnMore"><a href="http://www.americanwell.com/" target="_blank" id="learnMoreLink">
		Learn More</a>></div>
	
</div><!-- end marketing content -->
	
	<div class="enrollmentLandingContainer dijitInline">
		<div class="enrollmentBrandingImg"><img src="/static/release_119926/images/common/IMG_Login_FormTopLogo.jpg" id="brandingLogo" /></div>
		<div class="enrollmentFormContainer">
			<form id="enrollmentForm" name="enrollmentForm" action="/landing.htm" method="POST" autocomplete="off"><input type="hidden" name="csrfToken"
		value="1CiFVaFSt0LhBUqRciKymhJR" />
				<div class="enrollmentFormContent">
					<div id="nameFields" class="enrollmentFieldRow">
						
							
							
								<input id="firstName" name="firstName" class="nameField modernInput1 firstOnly" placeholder="First Name" type="text" value="" maxlength="255" autocomplete="off"/>
								<input id="lastName" name="lastName" class="nameField modernInput1 lastOnly" placeholder="Last Name" type="text" value="" maxlength="255" autocomplete="off"/>
							
						
					</div>
					<div class="clearFix"></div>
					<div id="nameErrors">
						

		
		<div class="error" id="firstName.errors" style="display: none;"></div>
	
	
		
		<div class="error" id="lastName.errors" style="display: none;"></div>
	
	


					</div>
					<div id="emailFields" class="enrollmentFieldRow">
						<input id="emailAddress" name="emailAddress" class="fullWidth modernInput1" placeholder="Email" type="text" value="" maxlength="200" autocomplete="off"/>
	
		
		<div class="error" id="emailAddress.errors" style="display: none;"></div>
	
	


						<input id="emailAddress2" name="emailAddress2" class="fullWidth modernInput1" placeholder="Confirm Email" type="text" value="" maxlength="200" autocomplete="off"/>
						
	
		
		<div class="error" id="emailAddress2.errors" style="display: none;"></div>
	
	


					</div>
					<div id="passwordField" class="enrollmentFieldRow">
						<input name="password1" type="password" placeholder="Password" id="password1" class="modernInput1 fullWidth" />
						<div id="failedPwdReq" class="error hideme">Password does not meet requirements</div>
					</div>
					
					<div id="disclaimerField">


<input id="disclaimerIds" name="disclaimerIds" type="hidden" value="WKCDIHDZNOPQZBGMXOVRPWVTPfOVTWGSLDdSaEIROJLHDfCTIfbTFXCSHPFUZTPNWObZdFUDQOZZc"/>
						<input type='checkbox' name='disclaimerAccept' id='disclaimerAccept'/>
						<label class="modernLabel14" id="disclaimerPromptLabel">I agree to these </label>
							<a href="#" id="tosLink">Terms of Use.</a>
						
						
	
		
		<div class="error" id="disclaimerAccept.errors" style="display: none;"></div>
	
	


					</div>
				</div>
				<input type="submit" value="Sign Up" id="submitBtn"/>
				<div class="loginLandingPrompt modernLabel16">
					Already have an account? 
					<a href="https://amwell.com/loginConsumer.htm" id="enrollmentFormLoginLink" class="loginLink">Log In</a>
				</div>
			</form>
		</div><!-- End Enrollment Form Container -->
	</div><!-- End enrollment landing container --></div><!-- end landingContainer --></div><!-- End Absolute-Center --></div><!--end body --><div id="landingFooter">





<div id="FooterRegion" class="fontB1 transparencyWhite loadingFooter loadingContent">
	<div class="footerCopyrightContainer">
		<div class="footerCopyrightLine">
			<span class="footerPhone fontB3 strong">Phone Access or Support Call 855-818-DOCS</span><wbr /> <span class="footerCopyright footerCustomerCopyright fontB1">&#169; 2015 Amwell. All rights reserved.</span><wbr /> <span class="footerCopyright footerAmWellCopyright fontB1">&#169; 2007-2015 American Well Corporation. All rights reserved.</span><wbr /> <span class="footerCopyright footerAMACopyright fontB1">CPT copyright 2014 American Medical Association. All rights reserved.</span>
			<div class="footerExtraLine"><span class="footerExtra fontB1">Online Care Group provides the clinical services for Amwell.  Online Care Group is an independent company.  Please see Online Care Group for more information (<a href="http://www.americanwell.com/doctors-available-24-hours/">http://www.americanwell.com/doctors-available-24-hours/</a>).</span></div>
		</div>
		<div class="footerSiteMapLine">
			<ul class="fontB1">
				
				<li><span onclick="caretalks.legal.loadLegalDialog('terms');" class="link">Terms of Use</span></li><li><span onclick="caretalks.legal.loadLegalDialog('privacy');" class="link">Privacy Policy</span></li><li><span onclick="caretalks.legal.loadLegalDialog('legal');" class="link">Legal Notices</span></li><li><span onclick="caretalks.contactUs.contact()" class="link">Contact Us</span></li>
			</ul>
		</div>
		
		
		<!-- OC-595: Add Vidyo Logo to Footer only on login -->
					
		
		<table class="footerBadgeTable footerTableWithBadge" align="center">
			<tbody>
				<tr>
					
						<td class="footerHealthPlanLogoCell">
	
	
		
		<img id="brandingImg" border="0" src="/images/common/IMG_Footer2_GenericHealthPlan_blank.png" />

						</td>
					
					<td class="footerAmWellLogoCell">
	
		
		<img id="brandingImg" border="0" src="/images/common/IMG_Footer2_PoweredByAmericanWell.png" />
	


					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>

<div class="PreloadedImgDiv hideme"><img src="/static/release_119926/images/sprites/IMG_ConnectionLost.png" style="width: 0px; height: 0px" /></div>


<iframe class="backButtonPreventerFrame" name="dj_history" id="dj_history" src="/static/release_119926/js/dojo/resources/iframe_history.html"></iframe> 

</body>
</html>

<!-- This page is /WEB-INF/jsp/enrollment/stepwise/landing.jsp -->
